@keyframes wave {
    from, to {
        transform: translate(-50%, 0%);
    }

    50% {
        transform: translate(-50%, -30%);
    }
}

#bubble-wrapper {
    height: 100%;
    width: 100%;

    position: fixed;
    bottom: 0px;

    overflow: hidden;
    pointer-events: none;
}

.bubble {
    height: max(200px, 30vw);
    width: max(200px, 30vw);

    border-radius: 100%;

    position: absolute;
    left: 50%;
    top: 100%;

    animation: wave 2s ease-in-out infinite;

    background: hsla(333, 100%, 53%, 1);

    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );
}